/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: #000;
  color: #fff !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}

.menu {
  /* background: #166457; */
  background: #4a6e45;
}

.piede {
  background: #374648;
}

.sidebar {
  position: relative;
  background: white;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  /* padding: 10px 20px 30px 20px; */
}

.sidebar h2 {
  font-weight: 600;
  text-align: center;
  margin: 15px 15px 15px 15px;
  font-size: 1em;
  text-transform: uppercase;
  background: #f7b210;
  border-radius: 50px;
  padding: 2px;
  color: #374648;
}

.contenuto {
  position: relative;
  background: whitesmoke;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

.contenuto h2 {
  font-weight: 600;
  text-align: center;
  margin: 15px 15px 15px 15px;
  font-size: 1em;
  text-transform: uppercase;
  background: #a1c11d;
  border-radius: 50px;
  padding: 2px;
  color: #374648;
}

.list-categorie {
  position: relative;

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.categoria-card {
  max-width: 150px !important;
  margin: 0 auto;
  /* margin-bottom: 2px; */
  align-items: center;
  border: none;
}

.categoria-card-title {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: -0.02em;
}

.categoria-card-body {
  padding: 0;
}

.categoria-card-img {
  height: 100px;
  width: max-content;
  display: block;
  background-size: 100px auto !important;
  padding: 0px;
  margin: auto;

  /* width: 100%;
  display: block;
  padding: 0 auto 10px;
  background-size: 100px auto !important; */
}

.prodotto-header {
  position: relative;
  display: block;
  min-height: 130px;
  /* margin: 0 20px 20px; */
  background: whitesmoke;
  padding: 30px;
}

.prodotto-header .prodotto-foto {
  position: relative;
  float: left;
  z-index: 1;
  width: 140px;
  height: 140px;
  background: white;
  border-radius: 50%;
  margin-right: 15px;
}

.prodotto-header h2 {
  font-weight: 600;
  padding: 15px 0 5px;
  margin: 0;
}

.prodotto-header p {
  padding: 0px 0;
}

.prodotto-header small {
  font-weight: 300;
  display: block;
  margin: 0px 0;
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.4);
}

/* LAVORAZIONI */

.list-lavorazioni {
  position: relative;

  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.lavorazione-card {
  max-width: 250px !important;
  margin: 15px auto;
  padding: 10px;
  /* margin-bottom: 2px; */
  align-items: center;
  /* border: none; */
  background: whitesmoke;
  border-radius: 5%;
}

.lavorazione-card-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: -0.02em;
}

.lavorazione-card-body {
  padding: 0;
}

.lavorazione-card-img {
  height: 100px;
  width: max-content;
  display: block;
  background-size: 100px auto !important;
  padding: 0px;
  margin: auto;

  /* width: 100%;
  display: block;
  padding: 0 auto 10px;
  background-size: 100px auto !important; */
}
